# ==========================================
# GitHub Self-hosted Runner 격리 목록
# ==========================================
actions-runner-linux-x64-2.334.0.tar.gz
_work/
bin/
externals/
.credentials
.credentials_rsaparams
.env
.path
.runner
.service
config.sh
env.sh
run-helper.cmd.template
run-helper.sh.template
run.sh
runsvc.sh
safe_sleep.sh
svc.sh

# ==========================================
# 기존 프로젝트/파이썬 개발 환경 제외 목록
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
database.db
_diag/